<!-- Launch the bug0.py node-->
<launch >
    <arg name="open_rviz" default="true"/>
    
    <!-- slam -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
        <arg name="open_rviz" value="$(arg open_rviz)"/>
    </include>

    <!-- other nodes-->
    <include file="$(find movement_starter)/launch/wall_follower.launch" />
    <include file="$(find movement_starter)/launch/go_to_point.launch" />
    
    <node pkg="Blastoise00" type="bug0.py" name="bug0_node" output="screen">
    </node>
</launch>