<launch>
    <!-- Arguments -->
    <arg name="auto_start" default="false"/>

    <!-- SLAM -->
    <include file="$(find Blastoise00)/launch/slam/turtlebot3_slam.launch" />

    <!-- Navigation -->
    <include file="$(find Blastoise00)/launch/move_base.launch" />
    <include file="$(find Blastoise00)/launch/amcl.launch" />

    <!-- Exploration -->
    <include file="$(find Blastoise00)/launch/explore.launch">
        <arg name="auto_start" value="$(arg auto_start)" />
    </include>

    <!-- Command Server & Navigation Node -->
    <node pkg="Blastoise00" type="navigation_node.py" name="navigation_node" output="screen">
    </node>
    <node pkg="Blastoise00" type="command_server_node.py" name="command_server_node" output="screen">
    </node>
</launch>